<!DOCTYPE html>
<html lang="pt-br">    
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
        <script>
            function testClick(){
                alert("sdfasdfasdf");
            }
        </script>
    </head>
    <body>
       <h1>pagina principal</h1> 
       <div id="form_entrada" style="align-self: right">
           <form action="/refresh" method="post">
               <table>
                   <tr>
                       <td>URL:</td>
                       <td><input type="text" name="url" id="url"/></td>
                   </tr>
                   <tr>
                       <td>Success Response SLO:</td>
                       <td><input type="text" name="sRespSLO" id="suscesful-responses"/></td>
                   </tr>
                   <tr>
                       <td>Fast Response SLO:</td>
                       <td><input type="text" name="fRespSLO" id="fast-responses"/></td>
                   </tr>
                   <tr>
                       <td><input id="btn-inserir" type="submit" value="inserir"/>
                       <a href="./refresh"> teste</a>
                       </td>
                   </tr>
                </table>
           </form>           
       </div>
       <div id="list-urls-statistcs" style="align-self: left">

       </div>
    </body>
</html>